/**
* @name Lepton
* @version Auto Update
* @description edited by se7enbyte
* @author se7enbyte
* @invite PZdnCVD
*/
@import url("https://codedotspectra.github.io/themes/themes-cores/neutron8.css");
@import url('https://discordstyles.github.io/HorizontalServerList/dist/HorizontalServerList.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans');
:root {
--themeColor1: #36D1DC00;
--themeColor2: #6D19E567;
--customFont: 'Open Sans';
--homeImage: url('https://i.imgur.com/QK1XImL.png');
--homeImageSize: cover;
--backgroundColor: #3B006221;
--backgroundImage: url('https://giffiles.alphacoders.com/212/212812.gif');
--backgroundPosition: center;
--backgroundSize: cover;
--backgroundRepeat: no-repeat;
--backgroundBlur: 0px;
--backgroundOpacity: 0.15;
--HSL-server-icon-size: 23px;
--HSL-server-spacing: 20px;
}
.bd-addon-views .bd-view-button.selected {
    background-color: #6441a575;
}
.lookFilled-yCfaCM.colorGreen-3y-Z79 {
    background-color: #9c299000;
    background-image: linear-gradient(to bottom right, #3c30, #00a1ff47);
}

.avatar-2Vndt_ {
    border: 0px solid var(--background-floating);
    background-color: var(--background-floating);
}
.attachment-1PZZB2, .embedFull-1HGV2S, .wrapper-1HIH0j {
    background: rgb(92 47 115 / 18%);
    position: relative;
    overflow: hidden;
}
.searchBar-jGtisZ {
  background-color: #6d19e524
}

.upsell-3B1lnN emptyGuildUpsell-2s9mrR {
  background-color: upsell-3B1lnN emptyGuildUpsell-2s9mrR
}

.modalTextContainer-1FUO2W, .textContainer-36wgKK, .markup-eYLPri code.hljs, .markup-eYLPri code.hljs.inline {
    box-sizing: border-box;
    padding-top: 27px;
    position: relative;
    border: none;
    scrollbar-color: var(--backgroundCode) var(--backgroundName);
    background: rgb(115 53 162 / 18%) !important;
}

.clickable-28SzVr:hover .layout-1qmrhw, .selected-1-Z6gm .layout-1qmrhw {
    background-color: rgb(111 43 142 / 27%);
}
.mainContent-20q_Hp:before {
    background-color: #6d19e524;
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    right: 0;
    bottom: -1px;
    left: 0;
}
.upload-vLbqu- {
  background-color: #6d19e524
}
